.card{
    text-decoration: none;
    color: #000;
    display: flex;
    text-align: center;
    padding:13px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 13px;
    width: 65%;
    margin: 32px auto;
}
.card nav img{
    border-radius: 13px;
    width: 100%;
}